@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");
.Navbar {
  color: 'white';
  width: 100vw;
  height: 10.5vh;
  background-color: #232323;
  display: flex;
}

.Navbar .Navbar-middle {
  width: 34.5%;
  height: 100;
  font-family: 'Sanchez';
  color: white;
  font-size: 25px;
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Spartan';
  width: 20%;
  margin: 3vw;
  letter-spacing: -1px;
}

.Navbar .Menu {
  width: 34.5%;
  height: 100;
  font-family: 'Sanchez';
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar .right {
  justify-content: start;
}

.Navbar .left {
  justify-content: end;
}

.Navbar .Navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 9.5vh;
  margin-left: 1.4vw;
  margin-right: 1.4vw;
  letter-spacing: .7px;
}
